{block title}Seznam příspěvků{/block}
{block content}
<div n:foreach="$posts as $post" class="box">
    <h2><a n:href="Post:show $post->id">{$post->title}</a></h2>
    <div class="date">{$post->date|date:'F j, Y'}</div>
    <section>{$post->content|noescape}</section>

</div>